body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

header {
    margin: auto;
    background-color: #FFB6C1;
    width: 267px;
    border-radius: 6px;
    text-align: center;
}

header h1 a{
    text-decoration: none;
    color: black;
}

header h1 a:hover {
    color:blue;
}

.form{
    text-align: center;
    margin: auto;
    padding:10px;
    width: 250px;
    border-radius: 10px;
    background-color: #FFB6C1;
    border: 1px solid #000;
}
.footer{
    text-align: center;
   margin-top: 20px;
}